/* 滚动条样式 */
::-webkit-scrollbar {
	width: 10px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background: rgb(239, 239, 239);
	border-radius: 2px;
}

::-webkit-scrollbar-thumb {
	background-color: #bfbfbf;
	border-radius: 10px;
}

:root {
	--dark1: #262626;
	--dark2: #333333;
	--dark-common: #2c3e50;
	--dark-remark: #909399;
	--tint-gray: #d9d9d9;
	--border1: 1px solid #d9d9d9;
	--border2: 1px solid #eaecef;
	--box-shadow1: 1px 1px 8px #d9d9d9, 0 0 7px #d9d9d9;
	--box-shadow2: 0 0 5px rgba(93, 112, 146, 0.3);
	--green2: #3eaf7c;
	--origin: #ff9845;
	--hover-speed: .4s ease;
	--transition-speed: .8s;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--origin);
}

* {
	margin: 0;
	box-sizing: border-box;
	letter-spacing: 0.5px;
	font-weight: 400;
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
}

body {
	margin: 0;
	line-height: 1.5;
	font-size: 16px;
	color: var(--dark-common);
}

button {
	border: none;
	outline: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	color: #ffffff;
	background-color: var(--origin);
}

button:hover {
	background-color: #fd8d33;
}

button:active {
	transform: scale(0.98);
	/* 去除button点击背景样式 */
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}

input {
	border: var(--border1);
	padding: 7px;
	border-radius: 5px;
	outline: none;
	font-size: 1em;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
.placeholder {
	color: var(--dark-remark);
	font-size: 0.8em;
}

input:focus {
	box-shadow: 0 0 5px var(green2);
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	cursor: pointer;
}

h1 {
	font-size: 2em;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--dark1);
}

h2 {
	font-size: 1.7em;
	font-weight: 500;
	letter-spacing: 1px;
}

h3 {
	font-size: 1.4em;
	font-weight: 500;
	letter-spacing: 1px;
}

h4 {
	font-weight: 600;
}

strong {
	font-size: 1.1em;
	font-weight: 600;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a:active {
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}

section * {
	margin: 0;
}

section {
	text-indent: 2em;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto;
	text-align: center;
}

table td,
table th {
	border: 1px solid #cad9ea;
	color: #666;
	height: 30px;
}

table tr th {
	background-color: rgba(90, 216, 166, 0.4);
	width: 100px;
}

table tr:nth-child(odd) {
	background: #fff;
}

table tr:nth-child(even) {
	background: #F5FAFA;
}

.card {
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: var(--box-shadow2);
	padding: 10px;
}

.btn {
	border: var(--border1);
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover,
.btn.active {
	background-color: var(--origin);
	color: #FFFFFF;
	border-color: var(--origin);
}

.btn:active {
	transform: scale(0.9);
}

.center {
	text-align: center;
	margin: auto;
}

.remark {
	line-height: 1.3;
	font-size: 0.8em;
	color: var(--dark-remark);
}